// --------------------------------- mixin

  @mixin flexRow( $jc, $ai ) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
  }

  @mixin flexCol( $jc, $ai ) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
  }
  
  @mixin font( $size ) {
    font-size: $size;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

// --------------------------------- mixin

// --------------------------------- var

  $main-modal-wrapper-color: rgba( 17, 26, 36, 0.4 );
  $main-color: #111a24;
  $main-color-hover: #778591;
  $main-white: #e6e9ec;
  $main-red: #ff1313;
  $main-border: 1px solid $main-color;
  $main-border-white: 1px solid $main-white;

// --------------------------------- var

// --------------------------------- class

  .active-tab {
    height: 30px;
    padding: 5px;
    background-color: $main-color;
    color: $main-white;
    border: none;
    border-bottom: $main-border-white;
    outline: none;
  }

  .logout-img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }

  .backdrop {
    @include flexRow( space-between, center );
    margin: 3px;
    background-color: $main-color;
  }

  .flatdrop {
    @include flexRow( space-between, center );
    width: 100%;
    margin: 3px;
    background-color: $main-white;
  }

  .flatdrop-hover {
    @include flexRow( space-between, center );
    width: 100%;
    margin: 3px;
    background-color: $main-white;
  }


// --------------------------------- class